<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Редактирование ' + ${book.getName()}"></title>
</head>
<body>
<form th:method="PATCH" th:action="@{/book/{id}(id = ${book.getId()})}" th:object ="${book}">
    <label for="name">Введите название книги: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name errors</div>
    <br/>
    <label for = "author">Введите автора: </label>
    <input type="text" th:field="*{author}" id = "author"/>
    <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">author errors</div>
    <br/>
    <label for="year">Введите год: </label>
    <input type="text" th:field="*{year}" id = "year"/>
    <div style="color: red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">year errors</div>
    <br/>
    <hr/>
    <input type="submit" value="Редактировать"/>
</form>
<br/>
<form th:action="@{/book/{id}(id = ${book.getId()})}">
    <input type="submit" value="Отменить">
</form>
</body>
</html>