<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить новую книгу</title>
</head>
<body>
<form th:method="POST" th:action="@{/book}" th:object="${book}">
    <label for="name">Введите название книги: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</div>
    <br/>
    <label for="author">Введите автора: </label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">author error</div>
    <br/>
    <label for="year">Введите год: </label>
    <input type="text" th:field="*{year}" id="year"/>
    <div style="color: red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">year error</div>
    <br/>
    <input type="submit" value="Добавить">
</form>
</body>
</html>