<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text = "${book.getName()}"></title>
</head>
<body>
<a th:text="${book.getName()} + ', ' + ${book.getAuthor()} + ', ' + ${book.getYear()}"/>
<form th:if = "${peopleList}" th:method="PATCH" th:action="@{/book/{id}/addPerson(id = ${book.getId()})}">
    <p>Эта книга свободна. Кому назначить ее?</p>
    <label for="person1">Выберите человека: </label>
    <select th:object="${person}" th:field="*{id}" id="person1">
        <option th:each="person : ${peopleList}" th:value = "${person.getId()}" th:text="${person.getName()}">
        </option>
    </select>
    <input type="submit" value="Назначить книгу"/>
</form>
<form th:if="${owner}" th:method="PATCH" th:action="@{/book/{id}/clear(id = ${book.getId()})}">
    <p th:text="'Книга сейчас у: ' + ${owner.getName()}"></p>
    <input type="submit" value="Освободить книгу">
</form>
<hr/>
<form th:action="@{/book/{id}/edit(id = ${book.getId()})}">
    <input type="submit" value="Редактировать">
</form>
<br/>
<form th:method="DELETE" th:action="@{/book/{id}(id = ${book.getId()})}">
    <input type="submit" value="Удалить">
</form>
<br/>
<form  th:action="@{/book}">
    <input type="submit" value="К списку книг">
</form>
</body>
</html>