<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Редактирование профиля '+${person.getName()}"></title>
</head>
<body>
<form th:method="PATCH" th:action="@{/people/{id}(id = ${person.getId()})}" th:object="${person}">
    <label for="name">Введите ФИО: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</div>
    <br/>
    <label for="year">Введите год рождения: </label>
    <input type="text" th:field="*{year}" id="year"/>
    <div style="color: red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">name error</div>
    <hr/>
    <input type="submit" value="Сохранить изменения">
</form>
<br/>
<form th:action="@{/people/{id}(id = ${person.getId()})}">
    <input type="submit" value="Отменить">
</form>
</body>
</html>